<div>
  <h2 id="page-heading" data-cy="OffreEmploiHeading">
    <span jhiTranslate="senemploiV4App.offreEmploi.home.title">OffreEmplois</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="senemploiV4App.offreEmploi.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <!-- Bouton de création visible uniquement pour les non-candidats -->
      <button
        *ngIf="!hasAnyAuthority('ROLE_CANDIDAT')"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-offre-emploi"
        [routerLink]="['/offre-emploi/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="senemploiV4App.offreEmploi.home.createLabel">Créer un nouveau Offre Emploi</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (offreEmplois().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="senemploiV4App.offreEmploi.home.notFound">Aucun Offre Emploi trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="titre">
              <div class="d-flex">
                <span jhiTranslate="senemploiV4App.offreEmploi.titre">Titre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="senemploiV4App.offreEmploi.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="salaire">
              <div class="d-flex">
                <span jhiTranslate="senemploiV4App.offreEmploi.salaire">Salaire</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="datePublication">
              <div class="d-flex">
                <span jhiTranslate="senemploiV4App.offreEmploi.datePublication">Date Publication</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateExpiration">
              <div class="d-flex">
                <span jhiTranslate="senemploiV4App.offreEmploi.dateExpiration">Date Expiration</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="recruteur.id">
              <div class="d-flex">
                <span jhiTranslate="senemploiV4App.offreEmploi.recruteur">Recruteur</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeContrat.id">
              <div class="d-flex">
                <span jhiTranslate="senemploiV4App.offreEmploi.typeContrat">Type Contrat</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="localisation.id">
              <div class="d-flex">
                <span jhiTranslate="senemploiV4App.offreEmploi.localisation">Localisation</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (offreEmploi of offreEmplois(); track trackId(offreEmploi)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/offre-emploi', offreEmploi.id, 'view']">{{ offreEmploi.id }}</a>
              </td>
              <td>{{ offreEmploi.titre }}</td>
              <td>{{ offreEmploi.description }}</td>
              <td>{{ offreEmploi.salaire }}</td>
              <td>{{ offreEmploi.datePublication | formatMediumDatetime }}</td>
              <td>{{ offreEmploi.dateExpiration | formatMediumDatetime }}</td>
              <td>
                @if (offreEmploi.recruteur) {
                  <div>
                    <a [routerLink]="['/recruteur', offreEmploi.recruteur.id, 'view']">{{ offreEmploi.recruteur.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (offreEmploi.typeContrat) {
                  <div>
                    <a [routerLink]="['/type-contrat', offreEmploi.typeContrat.id, 'view']">{{ offreEmploi.typeContrat.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (offreEmploi.localisation) {
                  <div>
                    <a [routerLink]="['/localisation', offreEmploi.localisation.id, 'view']">{{ offreEmploi.localisation.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/offre-emploi', offreEmploi.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <!-- Afficher les boutons d'édition et de suppression uniquement pour les non-candidats -->
                  <ng-container *ngIf="!hasAnyAuthority('ROLE_CANDIDAT')">
                    <a [routerLink]="['/offre-emploi', offreEmploi.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                      <fa-icon icon="pencil-alt"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                    </a>

                    <button type="submit" (click)="delete(offreEmploi)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                      <fa-icon icon="times"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                    </button>
                  </ng-container>

                  <!-- Bouton pour postuler uniquement pour les candidats -->
                  <ng-container *ngIf="hasAnyAuthority('ROLE_CANDIDAT')">
                    <a [routerLink]="['/candidature/new']" [queryParams]="{offre: offreEmploi.id}" class="btn btn-success btn-sm">
                      <fa-icon icon="paper-plane"></fa-icon>
                      <span class="d-none d-md-inline">Postuler</span>
                    </a>
                  </ng-container>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
