@if (competence) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(competence.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="competenceDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirmation de suppression</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error />
      <p
        id="jhi-delete-competence-heading"
        jhiTranslate="senemploiV4App.competence.delete.question"
        [translateValues]="{ id: competence.id }"
      >
        Êtes-vous certain de vouloir supprimer le Competence {{ competence.id }} ?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
      </button>

      <button id="jhi-confirm-delete-competence" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Supprimer</span>
      </button>
    </div>
  </form>
}
